.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #111;
  padding: 30px;
  border-radius: 12px;
  color: white;
  width: 380px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-size: 1.8rem;
    background-clip: text;

  background: linear-gradient(90deg, #4facfe, #9b4dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-subtitle {
  text-align: center;
  color: #bbb;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  background: #1c1c1c;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.submit-btn {
  margin-top: 10px;
  background: linear-gradient(90deg, #4facfe, #9b4dff);
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
