.movie-grid-section {
  padding: 2rem;
  color: white;
  background: #0e0e0e;
}

.grid-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #4facfe, #9b4dff);
    background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-movies {
  color: #888;
  text-align: center;
  font-size: 1.1rem;
  padding: 2rem 0;
  border: 1px dashed #444;
  border-radius: 10px;
  background: #141414;
}
