.movie-grid-section {
  padding: 2rem;
  color: white;
  background-color: #0e0e0e;
}

.grid-title {
    margin-top: 1.5rem;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
}


 .movie-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  border-color: #4facfe;  /* Blue border on hover */
  box-shadow: 0 0 15px rgba(79, 172, 254, 0.5); /* Blue glow */
}


.movie-card img {
    width: 100%;
  height: 350px;
  object-fit: cover;
  border-bottom: 1px solid #222;
  transition: transform 0.3s ease;
}

.movie-card h3 {
  font-size: 1rem;
  text-align: center;
  margin: 10px 0 5px;
  color: #fff;
  transition: color 0.3s ease;
}
.movie-card:hover h3 {
  color: #4facfe;
}

.rating {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 10px;
}


.star {
  color: #4facfe;
}

.score {
  font-size: 0.95rem;
  color: #dcdcdc;
}

.no-movies {
  color: #888;
  text-align: center;
  font-size: 1.1rem;
  padding: 2rem 0;
  border: 1px dashed #444;
  border-radius: 10px;
  background: #141414;
}
.movie-card:hover img {
  transform: scale(1.05);
}